.btn {
    border-radius: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    background-color: #207b95;
    border:none;
    box-shadow: none;
    border: 1px solid #207b95;
    cursor: pointer;
}

.btn:hover{
 background-color: white;
 border: 1px solid  #DF865D;
}